# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # test against latest update of each major Java version, as well as specific updates of LTS versions:
        java: [8, 11.0.x, 13 ]

    steps:
    - name: Checkout the code
      uses: actions/checkout@v2
      
    - name: Cache the maven artifacts
      uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
          
    - name: Configure java
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}

    - name: Build and run tests
      run: mvn -B package 

    - name: Run integration tests
      run: mvn verify
      if: github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/heads/release')
      env:
        REVAI_ACCESS_TOKEN: ${{ secrets.IntegrationTestAccessToken }}
    
    - name: Save build artifacts to staging area
      run: mkdir staging && cp target/*.jar staging
    
    - name: Upload build artifacts
      uses: actions/upload-artifact@v1
      with:
        name: Package
        path: staging
